{% extends "base/base.html" %}
{% from "macros/_form.html" import render_form %}

{% block body %}
<div class="btn btn-success" data-toggle="modal" data-target="#myModal">+ Add Vm</div>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>vmname</th>
            <th>usetemplateID</th>
            <th>vmowner</th>
            <th>vmcreatetime</th>
            <th>edit</th>
        </tr>
    </thead>
    <tbody>
        {% for item in vm_list%}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.vmname }}</td>
            <td>{{ item.usetemplateID }}</td>
            <td>{{ item.vmowner }}</td>
            <td>{{ item.vmcreatetime }}</td>
            <td>
                <a href="{{ url_for('vm.delete_vm', vm_id=item.id )}}"><span class="btn btn-default">Delete</span></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Vm</h4>
            </div>
            <div class="modal-body">
                {{render_form(url_for('vm.index'), form)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}
